<div class="post-copyright">
    <div class="post-copyright__notice">
        <span class="post-copyright-info">
            <span>本文是<%= page.cc || theme.post.default.copyright %>文章，采用</span>
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>
            <span>协议，完整转载请注明来自</span>
            <a href="/"><%= config.title%></a>
        </span>
    </div>
</div>